@model DesafioMVC.DTO.IngredienteDTO;

@{
    Layout = "_LayoutAdmin";
}

<div class="container">
    <h2>Editar ingrediente</h2>
    <br>
    <form class="form-horizontal" asp-controller="Ingrediente" asp-action="Atualizar" method="POST">
        <input type="hidden" asp-for="Id">
        <label asp-for="Nome">Nome</label>
        <br>
        <input type="text" asp-for="Nome" class="form-control">
        <span asp-validation-for="Nome"></span>
        <br><br>
        <label asp-for="MedidaID">Medida</label>
        <br>
        <select class="form-control" asp-for="MedidaID" asp-items='@(new SelectList(@ViewBag.Medidas, "Id", "Nome"))'></select>
        <span asp-validation-for="MedidaID"></span>
        <br>
        <button class="btn btn-primary">Atualizar</button>
    </form>
</div>